/* CSS files add styling rules to your content */

/* while do accepting this beyond! */

body {
    font-family: Comic Sans MS, sans-serif;
    margin: 2em;
    font-size: 2em;
  }
  
  h1 {
    font-style: italic;
    color: #373fff;
  }
  